
@{
    ViewBag.Title = "내 매장 등록하는 방법";
}

<h2>@ViewBag.Title</h2>


<div>
    <div class="container">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("서문시장.net 앱 소개", "Intro", "Home")</li>
            <li>@Html.ActionLink("내 매장 등록하는 방법", "HowToRegister", "Home")</li>
        </ul>
    </div>
</div>


<div >
    <img src="https://westgateproject.blob.core.windows.net/blob1/%EB%A7%A4%EC%9E%A5%20%EB%93%B1%EB%A1%9D%20%EC%84%A4%EB%AA%85.png" style="width:1000px; height:500px; object-fit:contain;" alt="앱 미리보기" />
</div>
<div class="row">
    <div class="col-md-6">
        <p>
            ① 원하는 매장 위치를 선택하고 "등록" 버튼을 선택합니다.

        </p>
    </div>

    <div class="col-md-6">

        <p>
            ② 매장 이름을 입력합니다.

        </p>
        <p>
            ③ - 없이 전화번호를 입력합니다. 정상적으로 입력이 되었다면 입력 후 - 기호가 삽입됩니다.

        </p>
        <p>
            ④ 2가지 결제방법 중 하나를 선택하시면 됩니다.<br />
            ▶ 계좌 이체 : 계좌 이체로 비용을 지불하고 서비스를 이용합니다.<br />
            대기시간이 없고 가장 빠른 시간에 서비스를 이용하실 수 있습니다.<br />

            ▶ 현장 결제 : 서비스 운영자가 매장을 찾아가면 그때 비용을 지불하고 서비스를 이용합니다.<br />
            가장 간편하게 서비스를 시작할 수 있는 방법입니다. 다만, 일정에 따라 방문하는데 시일이 소요되기도 합니다.<br />

        </p>
        <p>
            ⑤ 홈페이지 주소 신청 여부를 선택합니다.<br />
            1만원에 홈페이지 주소를 만들고 서비스를 이용하는 동안 계속 사용하실 수 있는 서비스입니다.<br />
            홈페이지 주소는 "https://서문시장.net/<매장이름>" 형태로 주어집니다.<br />

        </p>

        <p>
            ⑥ 기타 요청사항을 입력합니다.<br />
            기타 문의사항이나 요청사항을 입력합니다.<br />
            예를 들어, 매장 지도에 내 매장이 표시가 되어있지 않다면, 가장 근접한 매장 선택 뒤 요청사항에 기입해 주세요.

        </p>
    </div>    
</div>

