@model List<seomoonsijang.DataObjects.IndexToView>
@{
    ViewBag.Title = "서문시장.net";
}

<div class="jumbotron">
    <h1>서문시장</h1>
    <p class="lead">지금 서문시장에서는 무슨 일이 일어나고 있을까요?</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>모바일로 보기</h2>
        <img src="https://westgateproject.blob.core.windows.net/blob1/storeIcon.jpg" style="width:300px; height:300px; object-fit:contain;" alt="Available on Store" usemap="#storemap" />
        <map name="storemap">
            <area shape="rect" coords="0, 0, 300, 150" href="https://itunes.apple.com/kr/app/서문시장-net/id1241398958?mt=8" alt="Available on Appstore" />
            <area shape="rect" coords="0, 150, 300, 300" href="https://play.google.com/store/apps/details?id=hyoseop.metal.chopsticks.westgateproject1" alt="Available on Google Play" />
        </map>
    </div>
    <div class="col-md-4">
        <h2>서문시장.net 앱</h2>
        <a href="/Home/Intro/">
            <img src="https://westgateproject.blob.core.windows.net/blob1/%EC%95%B1%20%EC%95%84%EC%9D%B4%EC%BD%98.png" style="width:300px; height:300px; object-fit:contain;" alt="서문시장 약도" />
        </a>
    </div>
    <div class="col-md-4">
        <h2>서문시장 지도</h2>
        <a href="/Home/About/">
            <img src="https://westgateproject.blob.core.windows.net/blob1/%E1%84%89%E1%85%A5%E1%84%86%E1%85%AE%E1%86%AB%E1%84%89%E1%85%B5%E1%84%8C%E1%85%A1%E1%86%BC%20%E1%84%8C%E1%85%B5%E1%84%83%E1%85%A9%20%E1%84%8B%E1%85%B5%E1%84%86%E1%85%B5%E1%84%8C%E1%85%B5.png" style="width:300px; height:300px; object-fit:contain;" alt="서문시장 약도" />
        </a>
    </div>
</div>

<div class="row">
    <h2>&nbsp;최근 등록된 소식</h2>
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <img src=@item.BlobURL style="width:350px; height:350px; object-fit:contain; @item.Orientation">
            <p>
                <h4 style="font-weight:bold"><a href="~/FloorInfo/ShopInfoPage?building=@item.Location.Split(':')[0]&floor=@item.Location.Split(':')[1]&location=@item.Location.Split(':')[2]">@item.Text</a></h4>
            </p>
        </div>
    }
</div>
    @*<div>
        <address>
            <strong>운영자 홈페이지:</strong> <a href="http://	xn--o39ax1t4linng.xn--3e0b707e">http://쇠젓가락.한국</a><br />
            <strong>운영자 e-mail :</strong> <a href="mailto:chopsticksOfMetal@gmail.com">chopsticksOfMetal@gmail.com</a>
        </address>
    </div>*@
    <script>
        function rotateRight(element) {
            if (element.style.transform == "rotate(90deg)") {
                element.style.transform = "rotate(180deg)";
            }
            else if (element.style.transform == "rotate(180deg)") {
                element.style.transform = "rotate(270deg)"
            }
            else if (element.style.transform == "rotate(270deg)") {
                element.style.transform = "rotate(0deg)"
            }
            else {
                element.style.transform = "rotate(90deg)"
            }
        }
    </script>
