
@{
    ViewBag.Title = "서문시장.net 앱 소개";
}

<h2>@ViewBag.Title</h2>


<div>
    <div class="container">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("서문시장.net 앱 소개", "Intro", "Home")</li>
            <li>@Html.ActionLink("내 매장 등록하는 방법", "HowToRegister", "Home")</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <p>
            서문시장.net은 서문시장 상인들과 앱 사용자를 이어주는 오작교입니다. 시장 상인들이 좀 더 쉽게 온라인으로 매장을 개방하고, 앱 사용자들이 좀 더 쉽게 시장에 다가갈 수 있도록 도와주는 서비스입니다. 이로 인해 서로간의 심리적 거리감을 줄이고 활발히 소통하는 데 큰 역할을 할 것입니다.
        </p>

        <p>
            ▷서문시장에 있는 매장, 어떻게 홍보하세요? 서문시장.net을 이용해 보세요.<br />
            ▶홈페이지를 만들어도 아무도 보러 오지 않았다구요?<br />
            서문시장.net이 다 알아서 할게요. 홍보는 서문시장.net에 맡기고 마음 푹 놓으세요.<br />
            ▶인터넷 사용이 어려우시다구요?<br />
            카톡이나 문자만 보낼 줄 아시면 아무 문제 없습니다! 그래도 걱정 되신다면 걱정마세요~ 제가 직접 찾아가겠습니다. 전화만 주세요!<br />
        </p>

        <p>
            ▷서문시장 가본 적 있으세요? 서문시장.net을 이용해 보세요.<br />
            ▶너무 복잡해서 엄두가 안 나신다구요?<br />
            서문시장이 복잡하다는 생각은 이제 그만! 터치 몇번으로 서문시장을 미리 방문해보세요~<br />
            ▶내가 찾는 물건이 어디 있는지 모르시겠다구요?<br />
            더이상 고민하지 마세요~ 서문시장에는 없는게 없답니다. 터치 몇 번이면 무엇이 어디에 있는지 금방 알 수 있답니다~<br />
            ▶내가 갔던 매장이 어디인지 까먹으셨다구요?<br />
            서문시장.net과 함께라면 더이상 헤매지 않으셔도 됩니다. 터치 몇 번이면 상호명, 위치, 전화번호까지 모두 찾을 수 있습니다.<br />
        </p>
        <div>
            <img src="https://westgateproject.blob.core.windows.net/blob1/storeIcon.jpg" style="width:300px; height:300px; object-fit:contain;" alt="Available on Store" usemap="#storemap" />
            <map name="storemap">
                <area shape="rect" coords="0, 0, 300, 150" href="https://itunes.apple.com/kr/app/서문시장-net/id1241398958?mt=8" alt="Available on Appstore" />
                <area shape="rect" coords="0, 150, 300, 300" href="https://play.google.com/store/apps/details?id=hyoseop.metal.chopsticks.westgateproject1" alt="Available on Google Play" />
            </map>
        </div>
    </div>
    <div class="col-md-6">
        <img src="https://westgateproject.blob.core.windows.net/blob1/%EC%95%B1%20%EB%AF%B8%EB%A6%AC%EB%B3%B4%EA%B8%B0%20%EB%AA%A8%EC%9D%8C.png" style="width:500px; height:700px; object-fit:contain;" alt="앱 미리보기" />    
    </div>
</div>