
@{
    ViewBag.Title = "5지구 2층";
}

<h2>@ViewBag.Title</h2>

<div>
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("1층", "FifthFirst", "FloorInfo")</li>
                <li>@Html.ActionLink("2층", "FifthSecond", "FloorInfo")</li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <svg width="1200" height="600">


    </svg>
</div>

