
@{
    ViewBag.Title = "상가연합회 만남의 광장";
}

<h2>@ViewBag.Title</h2>

<div class="container">
    <ul class="nav navbar-nav">
    </ul>
</div>

<div class="container">
    <svg width="900" height="400">
        <rect x="60" y="0" rx="5" ry="5" width="121" height="59" style="fill:Aqua;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="Blue" text-anchor="middle" font-size="15" x="120.5" y="34.5">상가연합회 사무실</text>
        <rect x="260" y="0" rx="5" ry="5" width="139" height="59" style="fill:Aqua;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="Blue" text-anchor="middle" font-size="15" x="329.5" y="34.5">입주점포</text>
        <rect x="400" y="0" rx="5" ry="5" width="119" height="59" style="fill:Aqua;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="Blue" text-anchor="middle" font-size="15" x="459.5" y="34.5">남자화장실</text>
        <rect x="520" y="0" rx="5" ry="5" width="99" height="59" style="fill:Aqua;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="Blue" text-anchor="middle" font-size="15" x="569.5" y="34.5">여자화장실</text>
        <rect x="700" y="0" rx="5" ry="5" width="139" height="49" style="fill:Aqua;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="Blue" text-anchor="middle" font-size="15" x="769.5" y="29.5">대동신협</text>
        <rect x="840" y="0" rx="5" ry="5" width="39" height="49" style="fill:Aqua;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="Blue" text-anchor="middle" font-size="15" x="859.5" y="29.5">급기구</text>
        <rect x="700" y="50" rx="5" ry="5" width="89" height="49" style="fill:Aqua;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="Blue" text-anchor="middle" font-size="15" x="744.5" y="79.5">중구청관리소</text>
        <rect x="790" y="50" rx="5" ry="5" width="89" height="49" style="fill:Aqua;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="Blue" text-anchor="middle" font-size="15" x="834.5" y="79.5">점포</text>
        <rect x="0" y="120" rx="5" ry="5" width="61" height="59" style="fill:Aqua;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="Blue" text-anchor="middle" font-size="15" x="30.5" y="144.5">여자</text>
        <text fill="Blue" text-anchor="middle" font-size="15" x="30.5" y="164.5">화장실</text>
        <rect x="0" y="180" rx="5" ry="5" width="61" height="59" style="fill:Brown;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="White" text-anchor="middle" font-size="15" x="30.5" y="214.5">계단</text>
        <rect x="100" y="120" rx="5" ry="5" width="121" height="39" style="fill:Aqua;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="Blue" text-anchor="middle" font-size="15" x="160.5" y="144.5">현금입출금기</text>
        <rect x="100" y="160" rx="5" ry="5" width="59" height="59" style="fill:Brown;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="White" text-anchor="middle" font-size="15" x="129.5" y="194.5">승강기</text>
        <rect x="100" y="220" rx="5" ry="5" width="59" height="79" style="fill:Aqua;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="Blue" text-anchor="middle" font-size="15" x="129.5" y="244.5">무인</text>
        <text fill="Blue" text-anchor="middle" font-size="15" x="129.5" y="264.5">요금</text>
        <text fill="Blue" text-anchor="middle" font-size="15" x="129.5" y="284.5">정산소</text>
        <rect x="90" y="300" rx="5" ry="5" width="69" height="79" style="fill:Aqua;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="Blue" text-anchor="middle" font-size="15" x="124.5" y="344.5">출구사무실</text>
        <rect x="160" y="160" rx="5" ry="5" width="61" height="219" style="fill:Gray;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="White" text-anchor="middle" font-size="15" x="190.5" y="254.5">주차장</text>
        <text fill="White" text-anchor="middle" font-size="15" x="190.5" y="274.5">차량</text>
        <text fill="White" text-anchor="middle" font-size="15" x="190.5" y="294.5">출구</text>
        <rect x="280" y="160" rx="5" ry="5" width="89" height="59" style="fill:Aqua;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="Blue" text-anchor="middle" font-size="15" x="324.5" y="194.5">고객안내센터</text>
        <rect x="370" y="160" rx="5" ry="5" width="89" height="59" style="fill:Aqua;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="Blue" text-anchor="middle" font-size="15" x="414.5" y="194.5">놀이방</text>
        <rect x="460" y="140" rx="5" ry="5" width="89" height="79" style="fill:Aqua;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="Blue" text-anchor="middle" font-size="15" x="504.5" y="164.5">무인</text>
        <text fill="Blue" text-anchor="middle" font-size="15" x="504.5" y="184.5">요금</text>
        <text fill="Blue" text-anchor="middle" font-size="15" x="504.5" y="204.5">정산소</text>
        <rect x="280" y="220" rx="5" ry="5" width="309" height="159" style="fill:Aqua;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="Blue" text-anchor="middle" font-size="15" x="434.5" y="304.5">119안전센터</text>
        <rect x="650" y="160" rx="5" ry="5" width="59" height="219" style="fill:Gray;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="White" text-anchor="middle" font-size="15" x="679.5" y="254.5">주차장</text>
        <text fill="White" text-anchor="middle" font-size="15" x="679.5" y="274.5">차량</text>
        <text fill="White" text-anchor="middle" font-size="15" x="679.5" y="294.5">입구</text>
        <rect x="710" y="160" rx="5" ry="5" width="59" height="79" style="fill:Brown;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="White" text-anchor="middle" font-size="15" x="739.5" y="204.5">계단</text>
        <rect x="770" y="160" rx="5" ry="5" width="59" height="79" style="fill:Brown;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="White" text-anchor="middle" font-size="15" x="799.5" y="204.5">승강기</text>
        <rect x="830" y="160" rx="5" ry="5" width="59" height="79" style="fill:Aqua;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="Blue" text-anchor="middle" font-size="15" x="859.5" y="204.5">밸브실</text>
        <rect x="710" y="240" rx="5" ry="5" width="179" height="139" style="fill:Aqua;stroke:black;stroke-width:1;opacity:0.5" />
        <text fill="Blue" text-anchor="middle" font-size="15" x="799.5" y="314.5">관리사무실</text>

    </svg>
</div>


<div class="container">
    <img src="https://westgateproject.blob.core.windows.net/blob1/%EC%A3%BC%EC%B0%A8%EB%B9%8C%EB%94%A9.png" style="width:900px; height:550px; object-fit:contain;" alt="서문시장 약도" />
</div>



