@model List<seomoonsijang.DataObjects.IndexToView>
@{
    ViewBag.Title = "로스촬드";
}

<div class="jumbotron">
    <h1>로스촬드</h1>

    <a href="/FloorInfo/DongsanSecond/">
        <p class="lead">동산상가 2층 114</p>
    </a>
</div>

<div class="row">
    <h2>&nbsp;최근 등록된 소식</h2>
    @foreach (var item in Model)
    {
        <div class="col-md-4" style="border: 1px solid green;">
            <img src=@item.BlobURL style="width:350px; height:350px; object-fit:contain; @item.Orientation">
            <p>
                <h4 style="font-weight:bold">@item.Text</h4>
            </p>
        </div>
    }
</div>
